

	/* LAYOUT */


	&{
		
		display: none;
		position:absolute;
		z-index:300;	

	}








	/* VIDEO */


	// Layout

	&.page-chapter-video{

		
		// Media
		
		.page-chapter-media{

			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background-color:$dark;

			
			@media (min-aspect-ratio: 16/9){

				height:300%;
				top:-100%;			

			}

			@media (max-aspect-ratio: 16/9){

				width:300%;
				left:-100%;

			}

			@supports (object-fit: cover){

				width:100%;
				height:100%;
				top:0;
				left:0;
				object-fit:cover;

			}

		}

	}








	/* ANIMATIONS */


	// Showed

	&.showed{

		display: block;		

	}



.starcraft-discovery{
	background-color: #2288ee;
}