<div class="page page-annexe page-annexe-diaporama">
			
	<a href="#" class="btn btn-primary btn-back"><img class="starcraft-text" src="assets/medias/images/btn_fermer_description.png" alt="Retour"></a>
	<div class="diaporama-controls">
		<!-- <a href="#" class="btn btn-primary btn-previous"><i class="icon-previous"></i></i></a>
		<a href="#" class="btn btn-primary btn-next"><i class="icon-next"></i></i></a> -->
		<a href="#" class="btn btn-primary btn-continue"><img class="starcraft-text" src="assets/medias/images/btn_continuer.png" alt="Continuer"></a>
	</div>

	<div class="page-annexe-media page-annexe-slider"></div>

</div>