<div class="page page-finish">
			
	<div class="page-container">
		<h2 class="page-title">The end</h2>
		<p class="page-text">Vous êtes maintenant arrivé au bout de votre voyage. Nous espérons que cette traversée du secteur de Koprulu vous a plu, et également que vous avez survécu. N’hésitez pas à revenir sur les contenus additionnels disséminés à travers les chapitres !</p>
		<div class="page-buttons">
			<a href="#" class="btn btn-primary btn-explore"><img src="assets/medias/images/btn_explorer.png" alt=""></a>
		</div>
		<div class="page-buttons block-share">
			<a href="http://www.facebook.com/sharer/sharer.php?u=http://lucaslemahieu.fr/starcraft/&t=Starcraft Webdoc" class="btn btn-primary" target="_blank"><img src="assets/medias/images/facebook.png" alt="Partage Facebook"></a>
			<a href="http://www.twitter.com/share?url=http://lucaslemahieu.fr/starcraft/" class="btn btn-primary" target="_blank"><img src="assets/medias/images/twitter.png" alt="Twitter"></a>
		</div>

	</div>

</div>



<a onClick="window.open('');" href="javascript: void(0)">Share</a>