<div class="page page-home">
	<div class="page-container">
		
		<h1 class="page-home-title">Festival de couleurs</span></h1>
		<p class="page-home-text">Bienvenue. Dans ce web documentaire, vous allez voyager jusqu’à Kanpur dans le nord de l’Inde afin de découvrir et de vivre au plus près la Holi, la fête des couleurs. Afin de vous accompagner de manière optimale pour cette expérience, nous vous invitons à utiliser un casque audio.</p>
		<a href="#" class="btn btn-primary btn-launch"><span>Commencer</span></a>

	</div>
</div>