<div class="page page-home">
	<div class="page-container">
		
		<img src="assets/medias/images/logo_home_starcraft.png">
		<p class="page-home-text">Bienvenue. Dans ce web documentaire, vous allez voyager jusqu’au secteur de Koprulu dans un avenir lointain afin de découvrir ses habitants, plus ou moins mortels, et son histoire. Afin de vous accompagner de manière optimale pour cette expérience, nous vous invitons à utiliser une armure de Marine complète et un casque audio.</p>
		<a href="#" class="btn btn-primary btn-launch"><img src="assets/medias/images/btn_commencer_home.png" alt="Start"></a>

	</div>
</div>