<div class="page page-menu">
			
	<!-- <a href="#" class="btn btn-primary btn-full-screen"><i class="icon-full-screen"></i></a> -->

	<div class="page-container">
		<svg width="100%" height="100%"></svg>
	</div>

	<div class="page-menu-hover">
		<span class="chapter-name">Descente de l'avion</span>
		<p class="chapter-introduction">L'arrivée en Inde, vous débarquez fraîchement de l'avion. Par quoi commencer ?</p>
	</div>

	<p class="disclaimer">Ce projet ayant été réalisé dans le cadre de la pédagogie d’HETIC, nous n’avons pas acquis les droits de ces fichiers.</p>

</div>