<div class="page page-menu">
			
	<!-- <a href="#" class="btn btn-primary btn-full-screen"><i class="icon-full-screen"></i></a> -->

	<div class="page-container">
		<svg width="100%" height="100%"></svg>
	</div>

	<div class="page-menu-hover">
		<span class="chapter-name"></span>
		<p class="chapter-introduction"></p>
	</div>

	<div class="starcraft-menu">
		<div class="background-starcraft-menu"></div>
		<aside class="aside aside-left">
			<div class="links-menu">
				<a href="#" id="heroes">Héros</a>
				<a href="#" id="races">Races</a>
				<a href="#" id="factions">Factions</a>
				<a href="#" id="planets">Planètes</a>
			</div>
		</aside>

		<section class="selection-global global-heroes">
			<div class="div-selection selection-heroes">
				<h1>héros de starcraft</h1>
				<div class="selection">
					<!-- SELECTION PERSONNAGES TERRANS -->
					<div class="selection-terrans selection-terrans-heroes">
						<ul>
							<li>
								<a href="#" id="1">Jim Raynor</a>
							</li>

							<li>
								<a href="#">Matt Horner</a>
							</li>

							<li>
								<a href="#">Arcturus Mengsk</a>
							</li>

							<li>
								<a href="#">Valérian Mengsk</a>
							</li>

							<li>
								<a href="#">Général Warfield</a>
							</li>

							<li>
								<a href="#">Tychus Findlay</a>
							</li>

							<li>
								<a href="#">Nova</a>
							</li>

							<li>
								<a href="#">Ariel Hanson</a>
							</li>
						</ul>
					</div>
					<!-- SELECTION PERSONNAGES PROTOSS -->
					<div class="selection-protoss selection-protoss-heroes">
						<ul>
							<li>
								<a href="#">Artanis</a>
							</li>

							<li>
								<a href="#">Zeratul</a>
							</li>

							<li>
								<a href="#">Tassadar</a>
							</li>

							<li>
								<a href="#">Vorazun</a>
							</li>

							<li>
								<a href="#">Selendis</a>
							</li>

							<li>
								<a href="#">Fenix</a>
							</li>
						</ul>
					</div>
					<!-- SELECTION PERSONNAGES ZERGS -->
					<div class="selection-zergs selection-zergs-heroes">
						<ul>
							<li>
								<a href="#">Sarah Kerrigan</a>
							</li>

							<li>
								<a href="#">Stukov</a>
							</li>

							<li>
								<a href="#">Zagara</a>
							</li>

							<li>
								<a href="#">Abathur</a>
							</li>

							<li>
								<a href="#">Maitre-Esprit</a>
							</li>
						</ul>
					</div>
				<!-- FIN DE DIV SELECTION -->
				</div>
			</div>
		</section>

		<section class="selection-global global-races">
			<div class="div-selection selection-races">
				<h1>races de starcraft</h1>
				<div class="selection">
					<!-- SELECTION PERSONNAGES TERRANS -->
					<div class="selection-terrans selection-terrans-races">
						<ul>
							<li>
								<a href="#" id="c-terran">TERRANS</a>
							</li>
						</ul>
					</div>
					<!-- SELECTION PERSONNAGES PROTOSS -->
					<div class="selection-protoss selection-protoss-races">
						<ul>
							<li>
								<a href="#" id="c-protoss">PROTOSS</a>
							</li>
						</ul>
					</div>
					<!-- SELECTION PERSONNAGES ZERGS -->
					<div class="selection-zergs selection-zergs-races">
						<ul>
							<li>
								<a href="#" id="c-zerg">ZERGS</a>
							</li>
						</ul>
					</div>
				<!-- FIN DE DIV SELECTION -->
			</div>
		</section>

		<section class="selection-global global-factions">
			<div class="div-selection selection-factions">
				<h1>factions de starcraft</h1>
				<div class="selection">
					<!-- SELECTION PERSONNAGES TERRANS -->
					<div class="selection-terrans selection-terrans-factions">
						<ul>
							<li>
								<a href="#">Le Dominion</a>
							</li>

							<li>
								<a href="#">Les rebelles de Raynor</a>
							</li>
							
							<li>
								<a href="#">Le contingent Möbius</a>
							</li>
						</ul>
					</div>
					<!-- SELECTION PERSONNAGES PROTOSS -->
					<div class="selection-protoss selection-protoss-factions">
						<ul>
							<li>
								<a href="#">Nerazim</a>
							</li>

							<li>
								<a href="#">Khalai</a>
							</li>

							<li>
								<a href="#">Tal'darim</a>
							</li>
						</ul>
					</div>
					<!-- SELECTION PERSONNAGES ZERGS -->
					<div class="selection-zergs selection-zergs-factions">
						<ul>
							<li>
								<a href="#">L'essaim</a>
							</li>
						</ul>
					</div>
				<!-- FIN DE DIV SELECTION -->
			</div>
		</section>

		<section class="selection-global global-planets">
			<div class="div-selection selection-planets">
				<h1>planètes de starcraft</h1>
				<div class="selection">
					<div class="planet-item">
						 <a href="#" id="c-aiur">
			        <object type="application/x-shockwave-flash" data="http://media.blizzard.com/sc2/game/planets/aiur.swf" width="200" height="200">
			            <param name="quality" value="high">
			            <param name="play" value="true">
			            <param name="LOOP" value="true">
			            <param name="wmode" value="transparent">
			            <param name="allowScriptAccess" value="true">
			        </object>
			        <h2>aiur</h2>
			    	</a>
					</div>

					<div class="planet-item">
						 <a href="#" id="c-char">
			        <object type="application/x-shockwave-flash" data="http://media.blizzard.com/sc2/game/planets/char.swf" width="200" height="200">
			            <param name="quality" value="high">
			            <param name="play" value="true">
			            <param name="LOOP" value="true">
			            <param name="wmode" value="transparent">
			            <param name="allowScriptAccess" value="true">
			        </object>
			        <h2>char</h2>
			    	</a>
					</div>

					<div class="planet-item">
						 <a href="#" id="c-korhal">
			        <object type="application/x-shockwave-flash" data="http://media.blizzard.com/sc2/game/planets/korhal.swf" width="200" height="200">
			            <param name="quality" value="high">
			            <param name="play" value="true">
			            <param name="LOOP" value="true">
			            <param name="wmode" value="transparent">
			            <param name="allowScriptAccess" value="true">
			        </object>
			        <h2>korhal iv</h2>
			    	</a>
					</div>

					<div class="planet-item">
						 <a href="#" id="c-mar-sara">
			        <object type="application/x-shockwave-flash" data="http://media.blizzard.com/sc2/game/planets/mar-sara.swf" width="200" height="200">
			            <param name="quality" value="high">
			            <param name="play" value="true">
			            <param name="LOOP" value="true">
			            <param name="wmode" value="transparent">
			            <param name="allowScriptAccess" value="true">
			        </object>
			        <h2>mar sara</h2>
			    	</a>
					</div>

					<div class="planet-item">
						 <a href="#" id="c-shakuras">
			        <object type="application/x-shockwave-flash" data="http://media.blizzard.com/sc2/game/planets/shakuras.swf" width="200" height="200">
			            <param name="quality" value="high">
			            <param name="play" value="true">
			            <param name="LOOP" value="true">
			            <param name="wmode" value="transparent">
			            <param name="allowScriptAccess" value="true">
			        </object>
			        <h2>shakuras</h2>
			    	</a>
					</div>

					<div class="planet-item">
					 	<a href="#" id="c-tarsonis">
		        	<object type="application/x-shockwave-flash" data="http://media.blizzard.com/sc2/game/planets/tarsonis.swf" width="200" height="200">
	            <param name="quality" value="high">
	            <param name="play" value="true">
	            <param name="LOOP" value="true">
	            <param name="wmode" value="transparent">
	            <param name="allowScriptAccess" value="true">
	        	</object>
	        	<h2>tarsonis</h2>
	    		</a>
				</div>
			</div>
		</section>
	</div>

	<!-- STARCRAFT PLANETS -->
	<div class="starcraft-planets">
		<div class="item" id="aiur">
			<div class="planet" >
				<object type="application/x-shockwave-flash" data="http://media.blizzard.com/sc2/game/planets/aiur.swf">
	        <param name="quality" value="high">
	        <param name="play" value="true">
	        <param name="LOOP" value="true">
	        <param name="wmode" value="transparent">
	        <param name="allowScriptAccess" value="true">
	    	</object>
			</div>
			<div class="presentation">
				<h2>aiur</h2>
				<p>
					Au commencement, AÏur est une planète recouverte d’océans et de jungles luxuriantes. De faibles niveaux de gaz à effet de serre et une excentricité orbitale mineure avaient en effet permis le développement de conditions climatiques propices à la vie, ayant ainsi vu naître une grande variété d’espèces. Ceci étant, la forme de vie la plus avancée de la planète était sans conteste celle des Protoss.
				<p>
				</p>
					AÏur avait été le berceau du développement des Protoss, depuis les origines primitives de cette espèce jusqu’à son évolution accélérée par l’action des mystérieux Xel’naga. Le départ de ceux-ci divisa la société protoss et déclencha la guerre civile la plus violente de toute l’histoire de la galaxie : l’Éon de conflits, au cours duquel les principaux continents d’AÏur furent dévastés et de nombreuses formes de vie poussées au bord de l’extinction.
					Mais au cours des siècles qui suivirent, AÏur connut un véritable âge d’or : ses continents dévastés par la guerre cicatrisèrent, ses espèces se développèrent à nouveau, et de nombreuses cités et temples furent construits à sa surface. La population protoss connut ensuite une rapide croissance jusqu’à atteindre plusieurs milliards d’individus.
				<p>
				</p>
					Malheureusement, cette période de développement exceptionnel fut brusquement interrompue par l’arrivée de l’Essaim. Désireux d’assimiler au plus vite la race protoss, les Zergs lancèrent une invasion à grande échelle sur la planète. Menés par le Maître-esprit, une multitude de Zergs vint rapidement à bout des défenseurs de la planète et commença à semer la destruction sur les continents d’AÏur.
				</p>
			</div>
		</div>
		<div class="item" id="char">
			<div class="planet">
				<object type="application/x-shockwave-flash" data="http://media.blizzard.com/sc2/game/planets/char.swf">
	        <param name="quality" value="high">
	        <param name="play" value="true">
	        <param name="LOOP" value="true">
	        <param name="wmode" value="transparent">
	        <param name="allowScriptAccess" value="true">
	    	</object>
			</div>
			<div class="presentation">
				<h2>char</h2>
				<p>
					Char était un des treize mondes centraux de la Confédération, mais doit sa célébrité au fait qu’elle héberge la ruche principale des zergs. Dès sa découverte, Char s’est révélée une planète volcanique inhospitalière, presque entièrement recouverte d’un épais tapis de cendres et à l’atmosphère âcre. Malgré ces conditions cauchemardesques, Char fut initialement colonisée pour exploiter ses réserves exceptionnellement riches en métaux lourds, afin d’alimenter l’économie en pleine expansion de la Confédération.
				<p>
				</p>
					La majorité du personnel vivait sur une plate-forme spatiale, Char Aleph, construite en orbite proche de la planète. Dix ans plus tard, pendant l’invasion zerg, Char fut rapidement submergée par l’Essaim qui en fit sa planète-ruche principale dans le secteur de Koprulu, à tel point qu’on estime que les tunnels zergs s’étendent sous plus de 40% de la surface totale. Infestée à son tour, Char Aleph commença à être utilisée en tant que nid et couvoir orbitaux.
				<p>
				</p>
					Le monde calciné de Char sert désormais de base d’opérations pour les zergs dans le secteur de Koprulu. Le paysage volcanique de la planète est jalonné de ruches-colonies et un véritable labyrinthe de tunnels habite des milliards de zergs malveillants.
				</p>
				<p>
					La présence des zergs sur Char condamne cette dernière à rester un champ de bataille perpétuel.
				</p>
			</div>
		</div>

		<div class="item" id="korhal">
			<div class="planet">
				<object type="application/x-shockwave-flash" data="http://media.blizzard.com/sc2/game/planets/korhal.swf">
	        <param name="quality" value="high">
	        <param name="play" value="true">
	        <param name="LOOP" value="true">
	        <param name="wmode" value="transparent">
	        <param name="allowScriptAccess" value="true">
	    	</object>
			</div>
			<div class="presentation">
				<h2>korhal iv</h2>
				<p>
					Quatrième monde du système de Korhal, la planète (dont le nom Korhal IV est généralement raccourci en « Korhal ») était initialement recouverte d’une végétation luxuriante et bénéficiait d’un climat tempéré. Elle fut découverte et colonisée par des colons tarsoniens et devint rapidement un des membres les plus importants parmi les treize principaux mondes confédérés grâce à ses contributions à plusieurs développements militaires et technologiques.
				<p>
				</p>
					Avec le temps, la population réclama de faire sécession avec la Confédération, avec à leur tête le sénateur Angus Mengsk. La réponse de la Confédération fut l’envoi de fantômes dans le but d’éliminer le sénateur Mengsk, puis le bombardement nucléaire de Korhal IV, à la suite duquel ses milliards d’habitants perdirent la vie et la planète verdoyante fut transformée en un désert radioactif de verre noir.
				<p>
				</p>
					Lorsqu’Arcturus Mengsk, fils du sénateur Angus Mengsk renversa la Confédération terrane et s’autoproclama empereur du nouveau Dominion Terran, une de ses premières décisions fut de lancer la reconstruction de Korhal IV, qu’il choisit comme monde-capital. De véritables fortunes ont depuis été investies dans l’assainissement et la reconstruction de Korhal IV. Les défenses de la planète ont été considérablement renforcées depuis l’arrivée au pouvoir de Mengsk, ce dernier ayant en effet décidé de faire de Korhal IV la planète la mieux fortifiée de tout le secteur de Koprulu.
				</p>
			</div>
		</div>

		<div class="item" id="mar-sara">
			<div class="planet">
				<object type="application/x-shockwave-flash" data="http://media.blizzard.com/sc2/game/planets/mar-sara.swf">
	        <param name="quality" value="high">
	        <param name="play" value="true">
	        <param name="LOOP" value="true">
	        <param name="wmode" value="transparent">
	        <param name="allowScriptAccess" value="true">
	    	</object>
			</div>
			<div class="presentation">
				<h2>mar sara</h2>
				<p>
					Mar Sara est une planète semie-désertique, huitième monde colonisé par l’ancienne Confédération terrane, principalement pour ses ressources minières. Elle fut l’une des premières planètes infestées par les Zergs lors de leur apparition en espace terran. Ce fut également la première planète sur laquelle les confédérés sont parvenus à contrer de façon significative l’avancée de l’essaim.
				<p>
				</p>
					Les Fils de Korhal participèrent à l’évacuation de Mar Sara après l’abandon complet de la planète par la Confédération et parvinrent également à extraire des données d’une base de recherche confédérée, démontrant que la Confédération avait délibérément sacrifié la planète pour tester une arme secrète capable de déclencher l’invasion des Zergs. Pour éviter la propagation de l’infestation vers d’autres planètes, une flotte protoss dirigée par l’exécuteur Tassadar procéda à l’incinération complète de Mar Sara depuis l’orbite.
				<p>
				</p>
					Après la crémation de Mar Sara par les protoss, le système Sara semblait ne plus avoir grand-chose à offrir aux terrans, qui le laissèrent entièrement à l’abandon. Cependant, des prospecteurs du Combinat Kel-Morian découvrirent que les minéraux de Mar Sara avaient acquis des propriétés uniques suite au bombardement par les protoss, et revendiqua les droits d’extraction pour le système Sara. Des entrepreneurs indépendants sous licence furent de nouveau à pied d’œuvre pour extraire les ressources naturelles de la planète.
				</p>
			</div>
		</div>

		<div class="item" id="shakuras">
			<div class="planet">
				<object type="application/x-shockwave-flash" data="http://media.blizzard.com/sc2/game/planets/shakuras.swf">
	        <param name="quality" value="high">
	        <param name="play" value="true">
	        <param name="LOOP" value="true">
	        <param name="wmode" value="transparent">
	        <param name="allowScriptAccess" value="true">
	    	</object>
			</div>
			<div class="presentation">
				<h2>shakuras</h2>
				<p>
					Suite à leur exil, les Nérazims, des protoss renégats connus sous le nom de Templiers noirs découvrirent un temple Xel’Naga sur la planète Shakuras et choisirent d’y demeurer pour l’étudier. Cette décision transforma leur existence. Shakuras est un monde crépusculaire, où il est impossible de différencier le jour de la nuit. La majeure partie de sa surface est recouverte de déserts hostiles, avec de rares enclaves de végétation. Les Nérazims utilisèrent les enseignements d’Adun, l’exécuteur qui les avait protégés du Conclave, pour s’adapter à leur nouvel environnement. Survivre sur Shakuras exigeait une détermination et une volonté inébranlables, mais les Nérazims prospérèrent et fondèrent un avant-poste du nom de Talematros.
				<p>
				</p>
					Quand Aïur tomba sous l’assaut des zergs, les survivants Khalais fuirent sur Shakuras en empruntant une porte de transfert et s’établirent à Néo-Antioche. Les zergs suivirent les réfugiés d’Aïur, et une guerre sans merci éclata. Les Protoss finirent par exterminer les Zergs sur Shakuras en utilisant les cristaux Uraj et Khalis pour activer le pouvoir qui sommeillait dans le temple Xel’Naga. Une fois la guerre de l’Essaim terminée, Talematros fut rebâtie ; elle devint la capitale de Shakuras et le siège de la hiérarchie.
				<p>
			</div>
		</div>

		<div class="item" id="tarsonis">
			<div class="planet">
				<object type="application/x-shockwave-flash" data="http://media.blizzard.com/sc2/game/planets/tarsonis.swf">
	        <param name="quality" value="high">
	        <param name="play" value="true">
	        <param name="LOOP" value="true">
	        <param name="wmode" value="transparent">
	        <param name="allowScriptAccess" value="true">
	    	</object>
			</div>
			<div class="presentation">
				<h2>tarsonis</h2>
				<p>
					Tarsonis fut la planète qui vit atterrir le supertransporteur géant Nagglfar, un des quatre vaisseaux coloniaux qui amena les terrans dans le secteur de Koprulu, deux autres se posant sur les planètes Umoja et Moria. Quand les colonies entrèrent en contact six années plus tard, Tarsonis était la plus avancée et la plus prospère. Les trois colonies s’étaient étendues sur d’autres mondes et avaient développé leur propre économie.
				<p>
				</p>
					Les familles dirigeantes de Tarsonis réagirent en développant leurs activités militaires et leur expansion de manière plus agressive, fondant la Confédération terrane. Sur cette planète tempérée les terrans recouvrirent rapidement sa surface de villes et d’industries. Ainsi l’essor économique de la planète dépassait celui de n’importe quel autre monde terran du secteur de Koprulu, et la population de Tarsonis croissaient exponentiellement.
				<p>
				<p>
					Lors de la révolution menée contre la Confédération, Arcturus Mengsk et ses Fils de Korhal lâchèrent délibérément sur la planète une horde de zergs. Malgré une défense héroïque, Tarsonis fut dépassée et totalement dévastée par les zergs. D’après les estimations, plus de deux milliards de personnes trouvèrent la mort. Peu de temps après, les Zergs abandonnèrent la planète pour des raisons inconnues.
				</p>
				<p>
					La planète n’a depuis jamais été recolonisée.
				</p>
			</div>
		</div>
	</div>

	<!-- STARCRAFT RACES -->
	<div class="starcraft-races">
		<div class="item" id="terran">
			<div class="presentation terran-prez">
				<h2>terran</h2>
				<p>
					L’arrivée des terrans est relativement récente dans le secteur de Koprulu. Ils sont les descendants d’une expédition de colonisation lancée par la Terre via quatre supertransporteurs il y a plusieurs siècles, cette tentative s’étant soldée par un désastre.
					L’équipage, composé de dissidents et d’opposants, fut considéré comme sacrifiable par le gouvernement de la Terre, afin de soulager le système solaire alors très largement surpeuplé et en manque crucial de ressources.
				<p>
				</p>
					Corrompue, la Confédération fut renversée par le mouvement terroriste et révolutionnaire d’Arcturus Mengsk, ce dernier profita du chaos résultant de l’invasion zerg. Aujourd’hui, le Dominion terran a émergé des cendres de l’ancienne Confédération et a pris sa place de puissance dominante, commandée par l’empereur Mengsk Ier en personne.
				<p>
				</p>
					Les terrans ont dû faire face à des conditions d’existence particulièrement difficiles sur des mondes désolés du secteur, ils sont passés maîtres dans l’art de survivre. Les terrans ne peuvent pas compter sur la technologie des protoss ni sur la force naturelle des zergs, mais leurs troupes sont constituées d’un mélange d’unités. Ils peuvent compter sur les marines, qui constituent une infanterie basique mais efficace, mais aussi sur les cuirassés lourdement armés. Les armées terranes s’appuient sur une armure épaisse, une puissance de feu importante et tiennent la ligne de front par le nombre. Les terrans excellent dans l’art de la défense, dès qu’il s’agit de tenir une position, leurs bunkers et leurs tanks règnent sur le champ de bataille.
				</p>
			</div>
		</div>

		<div class="item" id="protoss">
			<div class="presentation protoss-prez">
				<h2>protoss</h2>
				<p>
					Pendant des milliers d’années, les anciens et mystérieux protoss ont utilisé leurs pouvoirs psioniques et leur technologie extra-terrestre pour maintenir l’ordre et la paix dans la partie de la galaxie sous leur contrôle.
				<p>
				</p>
					Aiur avait été le berceau du développement des protoss, depuis les origines primitives de cette espèce douée d’exceptionnelles facultés psioniques jusqu’à son évolution accélérée par l’action des mystérieux Xel’nagas. Devant l’hostilité grandissante au sein des protoss, qui entraîna par ailleurs la perte du lien psychique unissant tous les membres de l’espèce, les Xel’nagas décidèrent finalement de quitter Aïur. Le Départ, nom donné par la suite à l’événement, divisa la société protoss et déclencha la guerre civile la plus violente de toute l’histoire de la galaxie : l’Éon de conflits. La guerre fit rage durant des générations entières, au cours desquelles les principaux continents d’Aïur furent dévastés et de nombreuses formes de vie poussées au bord de l’extinction.
				<p>
				</p>
					Après le départ des Xel’nagas, des traces de leur présence sur Aïur subsistèrent sous la forme d’immenses cavernes souterraines et de cristaux khaydarin monolithiques, dont certains ont perduré jusqu’à aujourd’hui. La découverte de ces étranges reliques Xel’naga joua un rôle crucial dans la fin de la terrible guerre civile qui opposait les protoss. Les légendes protoss racontent en effet qu’un mystique appelé Khas aurait déterré un artéfact khaydarin, et que ce dernier lui aurait permis de redécouvrir le lien psionique que sa race avait perdu peu avant le début de l’Éon de conflits.
				</p>
				<p>
					Khas utilisa ces connaissances pour revitaliser la société protoss, en particulier via l’enseignement du Khala, une nouvelle théorie qui invitait les protoss à oublier leurs différends et à s’unir à nouveau à leurs semblables. En redécouvrant l’ancien lien psychique qui les unissait, les protoss furent submergés par le flot de pensées, d’émotions et d’expériences ressenties et vécues par chaque membre de l’espèce, ce qui permit d’éteindre la haine qui avait entraîné l’Éon de conflits.
				</p>
				<p>
					Avec le degré d’avancement de leur technologie et leurs pouvoirs psioniques, les protoss se considérèrent longtemps comme l’espèce la plus puissante de la galaxie. Mais la guerre qui les oppose aux zergs a dévoilé une réalité tout autre : un guerrier, quelle que soit sa puissance individuelle, ne peut faire le poids face à une attaque massive. La leçon fut difficile à digérer pour les protoss, car elle impliquait de remettre en cause tous les préceptes philosophiques sur lesquels leur société reposait fermement depuis plus d’un millénaire. Ainsi, l’invasion de la planète mère des protoss, Aïur, par les zergs, les conduisit à une conclusion radicale : pour les protoss, la clé de la survie et de la victoire résidait dans le changement.
				</p>
			</div>
		</div>

		<div class="item" id="zerg">
			<div class="presentation zerg-prez">
				<h2>zerg</h2>
				<p>
					Aujourd’hui guidés par la rusée Reine des lames, les horreurs inhumaines zergs sont sur le point de déferler sur la galaxie et menacent de dévorer tous ceux qui se dresseraient sur leur chemin.
				<p>
				</p>
					Lorsque les Zergs arrivèrent dans le secteur de Koprulu, ils étaient tous unis dans leur dévotion absolue à la conscience collective zerg, le Maître-esprit. Le Maître-esprit dirigeait les actions de chaque créature zerg dans l’Essaim par le biais d’une hiérarchie de cérébrats moins puissants. Bien que le Maître-esprit fût guidé avant tout par son désir d’engloutir et d’assimiler la race avancée des Protoss, il décida quand même de se servir des humains, malgré leur manque de sophistication manifeste. En capturant une Terrane aux puissants pouvoirs psioniques, Sarah Kerrigan, le Maître-esprit développa une nouvelle créature unique en son genre : la Reine des Lames. Après la destruction du Maître-esprit par les Protoss pendant l’invasion d’Aïur, la Reine des Lames prit le contrôle de l’Essaim.
				<p>
				</p>
					Les Zergs n’ont rien de commun avec les Terrans et les Protoss. Les nombreuses espèces qui constituent l’Essaim y ont été intégrées par contamination zerg. Ces créatures ont rapidement et soigneusement été transformées en de véritables machines de mort impitoyables pour atteindre l’objectif ultime qui guide les Zergs : exercer une domination absolue. Les Zergs n’ont recours à aucune technologie pour créer leurs armes, leurs armures ou leurs vaisseaux. C’est grâce à l’adaptation biologique et à la mutation organisée de leurs espèces qu’ils parviennent à se défendre et à combattre. Même les bâtiments zergs sont en fait des organes spécialisés au sein de l’organisme vivant et toujours en développement du nid zerg.
				</p>
			</div>
		</div>
	</div>

	<p class="disclaimer">Ce projet ayant été réalisé dans le cadre de la pédagogie d’HETIC, nous n’avons pas acquis les droits de ces fichiers.</p>

</div>